<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Profiles</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">

        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Profiles</h4>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row my-2">
                    <button type="button" id="newRole" class="btn btn-info ml-auto">
                        <i class="mdi mdi-account-multiple-plus"></i> Create New
                    </button>
                </div>
            </div>

            <!--                Role card -->
            <div class="row">
                <!-- column -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Role Table</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Role Name</th>
                                        <th>Permission</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="role: ${allRoles}">
                                        <td th:text="${role.id}"></td>
                                        <td th:text="${role.name}"></td>
                                        <td>
                                            <div th:each="permission :${role.permissions}">
                                                <span th:text="${permission.permission}"
                                                      class="label label-danger"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <button class="btn btn-success editRole" th:id="${role.id}">
                                                    <i class="mdi-account-edit mdi"></i>
                                                </button>
                                                <button class="btn btn-danger deleteRole" th:id="${role.id}">
                                                    <i class="mdi-delete mdi"></i>
                                                </button>
                                                <button class="btn btn-primary roleUsers" th:id="${role.id}">
                                                    <i class="mdi-format-list-bulleted mdi"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        modal pour edit or ajouter un nouveaux Role-->
        <div class="modal" id="roleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Create or Update Role</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form th:object="${role}" method="post" th:action="@{/autorisation/role}">
                        <!-- Modal body -->
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}" id="role_id">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="name">Role Name</label>
                                        <input type="text"
                                               th:field="*{name}"
                                               class="form-control" id="name"
                                               placeholder="Enter Role Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="permissionUpdate">Permissions</label>
                                    <div class="col-sm-12">
                                        <div class="custom-control custom-checkbox"
                                             th:each="permission :${allPermissions}">
                                            <label>
                                                <input th:value="${permission.id}" id="permissionUpdate"
                                                       th:field="*{permissions}"
                                                       type="checkbox"/>
                                                <span th:text="${permission.permission}" th:remove="tag"> </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-info waves-effect">Soumettre</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--        modal pour supprimer un Role-->
        <div class="modal" id="roleDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Supprimer un Role</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Etes-vous sur de supprimer ce Role?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close
                        </button>
                        <a type="submit" class="btn btn-info waves-effect" id="deleteRoleBtn">
                            Soumettre
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--  modal pour afficher les user d chaque role -->
        <div class="modal bs-example-modal-lg" id="modalShowAllUserOfRole">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Afficher les utilisateurs de chaque role</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>Id</td>
                                <td>Nom</td>
                                <td>username</td>
                            </tr>
                            </thead>
                            <tbody id="userByRole">

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>


<section layout:fragment="js">
    <script type='text/javascript' th:src="@{/dist/js/gestion_users/permission.js}"></script>
</section>

</body>
</html>
