<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Mouvement Rate</title>
</head>
<body>

<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="container-fluid my-3">

            <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="alert alert-danger" role="alert" th:text="${delete}" th:if="${delete}"></div>
            <div class="alert alert-info" role="alert" th:text="${exist}" th:if="${exist}"></div>

            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                Mouvement Rate
                                <div class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                                    <button class="btn btn-small btn-info" id="addNewBookingInstrumentbtn">
                                        <i class="mdi mdi-plus-circle"></i>
                                    </button>
                                </div>
                            </h4>
                        </div>
                        <div class=" table-responsive">
                            <table class="display nowrap table color-table table-hover table-striped muted-table"
                                   id="bookingFunctionInstrumentRateTable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Booking Function</th>
                                    <th>Credit/Debit</th>
                                    <th>Instrument Class</th>
                                    <th>Instrument Type</th>
                                    <th>Instrument Class of Basis Instrument</th>
                                    <th>Fee Rate</th>
                                    <th>Fee Type</th>
                                    <th>Fee Categorie</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="booking:${bookingInstruments}">
                                    <td th:text="${booking.id}"></td>
                                    <td th:text="${booking.bookFunction.name}"></td>
                                    <td th:text="${booking.creditDebit}"></td>
                                    <td th:text="${booking.instrumentClassBasisInstrument.instrumentType.instrumentClass.instrementClass}"></td>
                                    <td th:text="${booking.instrumentClassBasisInstrument.instrumentType.instrumentTypeName}"></td>
                                    <td th:text="${booking.instrumentClassBasisInstrument.name}"></td>
                                    <td th:text="${booking.feeRate}"></td>
                                    <td th:text="${booking.feeType.typeName}"></td>
                                    <td th:text="${booking.feeType.categorieFees.categorieFeeName}"></td>
                                    <td>
                                        <div class="btn-group btn-group-sm float-right" role="group"
                                             aria-label="Basic example">
                                            <button class="btn btn-small btn-secondary editbookingInstrumentFeeRatebtn"
                                                    th:id="${booking.id}">
                                                <i class="mdi mdi-tooltip-edit"></i>
                                            </button>

                                            <button class="btn btn-small btn-success editbookingInstrumentbtn"
                                                    th:id="${booking.id}">
                                                <i class="mdi mdi-tooltip-edit"></i>
                                            </button>

                                            <button class="btn btn-small btn-danger showdeletebookingInstrumentbtn"
                                                    th:id="${booking.id}">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--        modal pour  ajouter un Mouvement Rate-->
    <div class="modal bs-example-modal-lg" id="ModalAddBookingInstrument" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form th:object="${bookingInstrument}" method="post" th:action="@{/gestion-commission/mouvement-rate}">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="bookingInstrument_id">

                        <ul class="alert alert-danger" id="errors" th:if="${#fields.hasErrors()}">
                            <li th:errors="*{feeType}" id="errorFeeType"></li>
                            <li th:errors="*{bookFunction}" id="errorBookFunction"></li>
                            <li th:errors="*{instrumentClassBasisInstrument}" id="errorInstrumentBasis"></li>
                            <li th:errors="*{creditDebit}" id="errorCreditDebit"></li>
                            <li th:errors="*{feeRate}" id="errorfeeRate"></li>
                        </ul>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="instrumentClassSelect">Instrument Class : </label>
                                <select id="instrumentClassSelect"
                                        th:field="*{instrumentClass}"
                                        class="form-control"
                                        name="profile">
                                    <option value="" selected disabled hidden class="hide">Choisissez ici</option>
                                    <option th:each="instrumentClass :${instrumentClasses}"
                                            th:value="${instrumentClass.id}"
                                            th:text="${instrumentClass.instrementClass}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 hide" id="instrumentTypeDiv">
                            <div class="form-group">
                                <label for="instrumentTypeSelect">Instrument Type : </label>
                                <select id="instrumentTypeSelect"
                                        th:field="*{instrumentType}"
                                        class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="col-12 hide" id="instrumentBasisDiv">
                            <div class="form-group">
                                <label for="instrumentBasisSelect">Instrument Class of Basis Instrument : </label>
                                <select id="instrumentBasisSelect" th:field="*{instrumentClassBasisInstrument}"
                                        class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="col-12 hide" id="bookingFunctionDiv">
                            <div class="form-group">
                                <label for="BookingFunctionSelect"> Boking Function : </label>
                                <select id="BookingFunctionSelect" th:field="*{bookFunction}" class="form-control">
                                    <option value="" selected disabled hidden>Choisissez ici</option>
                                    <option th:each="bookingFunction :${bookingFunctions}"
                                            th:value="${bookingFunction.id}"
                                            th:text="${bookingFunction.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 " id="feeCategorieDiv">
                            <div class="form-group">
                                <label for="feeCategorieSelect">Fee Categories : </label>
                                <select id="feeCategorieSelect" class="form-control">
                                    <option value="" selected disabled hidden>Choisissez ici</option>
                                    <option th:each="feeCat :${feeCategories}"
                                            th:value="${feeCat.id}"
                                            th:text="${feeCat.categorieFeeName}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 hide" id="feeTypeDiv">
                            <div class="form-group">
                                <label for="feeTypeSelect">Fee Type : </label>
                                <select th:field="*{feeType}" id="feeTypeSelect" class="form-control">

                                </select>
                            </div>
                        </div>

                        <div class="col-12 hide" id="feeRatediv">
                            <div class="form-group">
                                <label for="feeRateInput"> Rate : </label>
                                <input type="number" step="any"
                                       th:field="*{feeRate}"
                                       th:classappend="${#fields.hasErrors('feeRate')}? 'is-invalid':''"
                                       class="form-control" id="feeRateInput"
                                       placeholder="Entrer Fee Rate">
                                <p class="invalid-feedback" th:if="${#fields.hasErrors('feeRate')}"
                                   th:errors="*{feeRate}">Name
                                    Error</p>
                            </div>
                        </div>

                        <div class="form-group hide" id="creditDebitDiv">
                            <label>Credit/Debit</label>
                            <div class="row">
                                <div class="custom-control  custom-checkbox">
                                    <label>
                                        <input th:value="C" th:field="*{creditDebit}" type="radio"/>
                                        <span th:remove="tag"> Credit </span>
                                    </label>
                                </div>

                                <div class="custom-control  custom-checkbox">
                                    <label>
                                        <input th:value="D" th:field="*{creditDebit}" type="radio"/>
                                        <span th:remove="tag"> Debit </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-info waves-effect text-left">
                            Soumettre
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--        Modal edit Fee Rate Mouvement Rate-->
    <div id="ModalEditBookingInstrumentRate" class="modal bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form th:object="${bookingInstrument}" method="post" th:action="@{/gestion-commission/mouvement-rate}">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>BOOKING FUNCTION</label>
                                    <h5 id="bookingFunctionLabel"></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Instrument Class</label>
                                    <h5 id="instrumentClassLabel"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Instrument Type</label>
                                    <h5 id="instrumentTypeLabel"></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Instrument Class of Basis Instrument</label>
                                    <h5 id="instrumentBasisLabel"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Categorie Fee</label>
                                    <h5 id="categorieFeeLabel"></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fee Type</label>
                                    <h5 id="feeTypeLabel"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Credit/Debit</label>
                                    <h5 id="creditDebitLabel"></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fee Rate</label>
                                    <h5 id="feeRateLabel"></h5>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}" id="bookingInstrument_id_update">
                        <input type="hidden" th:field="*{bookFunction}" id="bookFunction_update">
                        <input type="hidden" th:field="*{instrumentClassBasisInstrument}"
                               id="instrumentClassBasisInstrument_update">
                        <input type="hidden" th:field="*{feeType}" id="feeType_update">
                        <input type="hidden" th:field="*{creditDebit}" id="creditDebit_update">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="feeRateInput">Fee Rate : </label>
                                    <input type="number" step="any"
                                           th:field="*{feeRate}"
                                           th:classappend="${#fields.hasErrors('feeRate')}? 'is-invalid':''"
                                           class="form-control" id="feeRateInputUpdate"
                                           placeholder="Entrer Fee Rate">
                                    <p class="invalid-feedback" th:if="${#fields.hasErrors('feeRate')}"
                                       th:errors="*{feeRate}">Name
                                        Error</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info waves-effect">
                            Soumettre
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--        Modal Delete Mouvement Rate-->
    <div id="ModalDeleteBookingInstrument" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Mouvement Rate</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h4 class="deleteMessage">Delete Mouvement Rate<span></span></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                    <a type="button" id="deletebtnInstrumentBasis" class="btn btn-danger waves-effect">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!--        modal pour  Editer un Mouvement Rate-->
    <div class="modal bs-example-modal-lg" id="ModalUpdateBookingInstrument" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modifier un Mouvement Rate</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form th:object="${bookingInstrument}" method="post" th:action="@{/gestion-commission/mouvement-rate}">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}" id="bookingInstrument_id_update_all">
                        <ul class="alert alert-danger" id="errors_update" th:if="${#fields.hasErrors()}">
                            <li th:errors="*{feeType}" id="errorFeeType_update"></li>
                            <li th:errors="*{bookFunction}" id="errorBookFunction_update"></li>
                            <li th:errors="*{instrumentClassBasisInstrument}" id="errorInstrumentBasis_update"></li>
                            <li th:errors="*{creditDebit}" id="errorCreditDebit_update"></li>
                            <li th:errors="*{feeRate}" id="errorfeeRate_update"></li>
                        </ul>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="instrumentClassSelect">Instrument Class : </label>
                                <select id="instrumentClassSelect_update"
                                        th:field="*{instrumentClass}"
                                        class="form-control"
                                        name="profile">
                                    <option value="" selected disabled hidden class="hide">Choisissez ici</option>
                                    <option th:each="instrumentClass :${instrumentClasses}"
                                            th:value="${instrumentClass.id}"
                                            th:text="${instrumentClass.instrementClass}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="instrumentTypeSelect">Instrument Type : </label>
                                <select id="instrumentTypeSelect_update"
                                        th:field="*{instrumentType}" class="form-control">
                                    <option th:each="instrumentClass :${instrumentClasses}"
                                            th:value="${instrumentClass.id}"
                                            th:text="${instrumentClass.instrementClass}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 ">
                            <div class="form-group">
                                <label for="instrumentBasisSelect">Instrument Class of Basis Instrument : </label>
                                <select id="instrumentBasisSelect_update" th:field="*{instrumentClassBasisInstrument}"
                                        class="form-control">
                                </select>
                            </div>
                        </div>

                        <div class="col-12 ">
                            <div class="form-group">
                                <label for="BookingFunctionSelect"> Booking function : </label>
                                <select id="BookingFunctionSelect_update" th:field="*{bookFunction}"
                                        class="form-control">
                                    <option value="" selected disabled hidden>Choisissez ici</option>
                                    <option th:each="bookingFunction :${bookingFunctions}"
                                            th:value="${bookingFunction.id}"
                                            th:text="${bookingFunction.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="feeCategorieSelect">Fee Categories : </label>
                                <select id="feeCategorieSelect_update" class="form-control">
                                    <option value="" selected disabled hidden>Choisissez ici</option>
                                    <option th:each="feeCat :${feeCategories}"
                                            th:value="${feeCat.id}"
                                            th:text="${feeCat.categorieFeeName}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 ">
                            <div class="form-group">
                                <label for="feeTypeSelect">Fee Type : </label>
                                <select th:field="*{feeType}" id="feeTypeSelect_update" class="form-control">

                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="feeRateInput"> Rate : </label>
                                <input type="number" step="any"
                                       th:field="*{feeRate}"
                                       th:classappend="${#fields.hasErrors('feeRate')}? 'is-invalid':''"
                                       class="form-control" id="feeRateInput_update"
                                       placeholder="Entrer Fee Rate">
                                <p class="invalid-feedback" th:if="${#fields.hasErrors('feeRate')}"
                                   th:errors="*{feeRate}">Name
                                    Error</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Credit/Debit</label>
                            <div class="row">
                                <div class="custom-control  custom-checkbox">
                                    <label>
                                        <input name="creditDebit" th:value="C" th:field="*{creditDebit}" type="radio"/>
                                        <span th:remove="tag"> Credit </span>
                                    </label>
                                </div>

                                <div class="custom-control  custom-checkbox">
                                    <label>
                                        <input name="creditDebit" th:value="D" th:field="*{creditDebit}" type="radio"/>
                                        <span th:remove="tag"> Debit </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">
                            Annuler
                        </button>
                        <button type="submit" class="btn btn-info waves-effect text-left">
                            Soumettre
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<section layout:fragment="js">
    <script type='text/javascript'
            th:src="@{/dist/js/gestion_commission/mouvement/bookingFunctionInstrumentRate.js}"></script>
</section>

</body>
</html>
